@model onlinestore.Models.product
@{
    ViewBag.Title = "proimg2edit";
    Layout = "~/Views/shared/backtheme.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="btn btn-primary col-md-12"> Product Image(2) <br /> Edit Here<br /> <i class="fa fa-arrow-circle-down">  </i> </h4>
    </div>
</div>
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("proimg2edit", "Productts", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                <div class="form-horizontal">



                    <div class="form-group offset-2">

                        <img src="~/productimg/@Url.Content(Model.pro_img2)" class="offset-2" width="250px" height="200px" />
                        <a href="@Url.Action("prodetail","Productts")" class="btn btn-rounded btn-info mb-3 offset-10"> View Product </a>
                        <label class="control-label col-md-2 "> Product Name </label>

                        <div class="col-md-8">
                            @Html.EditorFor(a => a.pro_title, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>



                    <div class="form-group offset-2">
                        <label class="control-label col-md-2"> Image 2nd </label>
                        <div class="col-md-8">
                            <input type="file" name="pictwo" class="form-control" />

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="offset-4 col-md-3">
                            <button type="submit" class="btn btn-dark btn-lg btn-block"> Edit Product </button>

                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>



